body {
    width: 600px;
    margin: auto;
    background: #D8E4FF;
}

table {
    background-color: #A4BAB7;
    margin-bottom: 20px;
    height: 300px;
    width: 300px;
    position: relative;
    left: 150px;
}

h1 {
    border-bottom: 5px solid #187795;
    font-family: "Acme";
    color: #187795;
    text-align: center;
}

.square {
    height: 80px;
    width: 80px;    
    font-size: 45pt;
    text-align: center;
    font-family: "Play";
    color: #35605A;
}

#message {
    font-size: 18pt;
     font-family: "Indie Flower"; 
     color: #187795;
     text-align: center;
}

#restart {
    font-size: 18pt;
    font-family: "Indie Flower"; 
    text-decoration: none;
    background-color: #5B3000;
    position: relative;
    left: 200px;
    color: #F1F2EB;
}