body {
    width: 550px;
    margin: auto;
    background: #C3C3C3;
}

h1 {
    border-bottom: 1px solid black;
     font-family: "Acme";
}

.square {
    height: 80px;
    width: 80px;    
    font-size: 45pt;
    text-align: center;
     font-family: "Play";
}

#message {
    font-size: 18pt;
     font-family: "Indie Flower"; 
}